.bg-header {
  background-color: $colonial_black;
  background-image: url('/img/backgrounds/wave.svg');
  background-size: cover;
  background-position: top;
    // background-color: $colonial_orange;
}
.social-network {
    width: 40px;
    height: 40px;
}